*,
*::after,
*::before {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  font-family: sans-serif;
}

/* --------SECTION HOME--------- */
.home {
  height: 100vh;
  display: flex;
  flex-direction: column;
  background-image: linear-gradient(
      0deg,
      rgba(0, 0, 0, 0.7),
      rgba(0, 0, 0, 0.7)
    ),
    url("../img/fondo-welcome.webp");
  background-size: cover;
  background-position: center center;
  background-repeat: no-repeat;
}

.navbar input[type="checkbox"],
.navbar .hamburger-lines {
  display: none;
}

.navbar {
  position: fixed;
  top: 0;
  width: 100%;
  flex-grow: 0;
  background-color: black;
  z-index: 100;
}

.navbar-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 64px;
}

.menu-items {
  order: 2;
  display: flex;
  margin-right: 20px;
}

.logo {
  order: 1;
}

.logo img {
  width: 175px;
}

.menu-items li {
  list-style: none;
  margin-left: 1.5rem;
  font-size: 1.15rem;
}

.navbar a {
  color: white;
  text-decoration: none;
  font-weight: 500;
  transition: color 0.3s ease-in-out;
}

.navbar a:hover {
  color: #05bfdb;
}

/* --------SECTION PRESENTATION--------- */

.welcome {
  flex-grow: 1;
  display: flex;
  align-items: center;
  justify-content: center;
}

.welcome img {
  border-radius: 50%;
  margin-right: 50px;
  width: 17.5%;
  min-width: 250px;
}

.welcome .texts {
  text-align: center;
}

.texts p:nth-of-type(odd) {
  color: white;
  font-size: 2rem;
}

.texts p:nth-of-type(even) {
  color: #209cee;
  font-size: 3rem;
  font-weight: 750;
}

/* ------SECTION SOBRE MI/HABILIDADES--------- */

.about-services {
  display: flex;
  margin: 0 5%;
  flex-direction: column;
  height: 900px;
}

.about-services h3 {
  padding: 20px 20px 20px 0px;
  font-weight: 700;
  font-size: 1.5em;
}

.about-services .title {
  font-size: 2em;
}

/* OJO AQUI... ESTO DESBORDA UN ESPACIO A LA DERECHA A LO QUE RESPONSEAMOS */
.container-about-skills {
  display: flex;
  align-items: center;
  justify-content: space-evenly;
}

.container-about-skills .sobre-me,
.container-about-skills .skills {
  width: 40%;
}

.sobre-me {
  height: 100%;
}

.sobre-me .info {
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin-top: 20px;
}

.sobre-me .info p {
  margin-bottom: 10px;
  text-align: justify;
  line-height: 25px;
}

.sobre-me .info p:first-child {
  font-weight: 600;
  font-size: 1.5em;
}

.info .descargar-cv {
  width: 125px;
  padding: 5px;
  cursor: pointer;
  color: black;
  background-color: #33b2ff;
  border-radius: 2px;
  border: 1px solid #207cee;
  font-size: 0.85em;
  display: flex;
  align-items: center;
  justify-content: space-around;
  transition: 0.5s all;
}

.descargar-cv img {
  width: 30px;
}

.info .descargar-cv:hover {
  background-color: #0780ca;
}
.skills .container-skills {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: repeat(3, 1fr);
  gap: 10px;
}

.container-skills .elemento {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 20px;
}

.skills .container-skills img,
.contact img {
  margin-bottom: 5px;
  width: 45px;
}

.skills .container-skills p {
  font-size: 16px;
  font-weight: 400;
  text-align: center;
}

/* ZONA DE CONTACTO */

.contact {
  background-color: black;
  color: white;
}

.contact ul {
  display: flex;
  list-style: none;
  justify-content: center;
}

.contact ul a {
  margin: 0px 10px;
}

.contact .title {
  font-size: 2em;
}

.footer_copy {
  background-color: black;
}

.footer_copy p {
  color: white;
}

/* -------------------------------------------------------------------- */

@media (max-width: 771px) {
  .navbar {
    opacity: 0.95;
  }

  .navbar-container input[type="checkbox"],
  .navbar-container .hamburger-lines {
    display: block;
  }

  .navbar-container {
    display: block;
    position: relative;
    height: 64px;
  }

  .navbar-container input[type="checkbox"] {
    position: absolute;
    display: block;
    height: 32px;
    width: 30px;
    top: 20px;
    left: 20px;
    z-index: 5;
    opacity: 0;
    cursor: pointer;
  }

  .navbar-container .hamburger-lines {
    display: block;
    height: 28px;
    width: 35px;
    position: absolute;
    top: 20px;
    left: 20px;
    z-index: 2;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
  }

  .navbar-container .hamburger-lines .line {
    display: block;
    height: 4px;
    width: 100%;
    border-radius: 10px;
    background: white;
  }

  .navbar-container .hamburger-lines .line1 {
    transform-origin: 0% 0%;
    transition: transform 0.3s ease-in-out;
  }

  .navbar-container .hamburger-lines .line2 {
    transition: transform 0.2s ease-in-out;
  }

  .navbar-container .hamburger-lines .line3 {
    transform-origin: 0% 100%;
    transition: transform 0.3s ease-in-out;
  }

  .navbar .menu-items {
    padding-top: 100px;
    background: black;
    height: 100vh;
    max-width: 300px;
    transform: translate(-150%);
    display: flex;
    flex-direction: column;
    margin-left: -40px;
    padding-left: 40px;
    transition: transform 0.5s ease-in-out;
    /* box-shadow: 5px 0px 10px 0px #aaa; */
    overflow: scroll;
  }

  .navbar .menu-items li {
    margin-bottom: 1.8rem;
    font-size: 1.1rem;
    font-weight: 500;
  }

  .logo {
    position: absolute;
    top: 10px;
    right: 15px;
    font-size: 2.5rem;
  }

  .navbar-container input[type="checkbox"]:checked ~ .menu-items {
    transform: translateX(0);
  }

  .navbar-container input[type="checkbox"]:checked ~ .hamburger-lines .line1 {
    transform: rotate(45deg);
  }

  .navbar-container input[type="checkbox"]:checked ~ .hamburger-lines .line2 {
    transform: scaleY(0);
  }

  .navbar-container input[type="checkbox"]:checked ~ .hamburger-lines .line3 {
    transform: rotate(-45deg);
  }

  .container-about-skills {
    flex-direction: column;
  }

  .container-about-skills .sobre-me,
  .container-about-skills .skills {
    width: 95%;
    transition: 1s;
  }
}

@media (max-width: 538px) {
  .home {
    background-image: linear-gradient(
        0deg,
        rgba(0, 0, 0, 0.7),
        rgba(0, 0, 0, 0.7)
      ),
      url("../img/fondo_welcome_mobile.webp");
  }

  .navbar-container input[type="checkbox"]:checked ~ .logo {
    display: none;
  }

  .welcome {
    flex-direction: column;
  }

  .welcome img {
    margin: 0;
  }
}

@media (max-width: 397px) {
  .container-skills .elemento {
    padding: 10px;
  }
}
