*,
*::after,
*::before {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html {
  font-family: sans-serif;
}

/* --------SECTION HOME--------- */
.home {
  height: 100vh;
  display: flex;
  flex-direction: column;
  background-image: linear-gradient(
      0deg,
      rgba(0, 0, 0, 0.7),
      rgba(0, 0, 0, 0.7)
    ),
    url("/src/img/fondo-welcome.jpg");
  background-size: cover;
  background-position: center center;
  background-repeat: no-repeat;
}

.navbar input[type="checkbox"],
.navbar .hamburger-lines {
  display: none;
}

.container {
  /* max-width: 1200px; */
  width: 100%;
  margin: auto;
}

.navbar {
  position: fixed;
  top: 0;
  width: 100%;
  flex-grow: 0; /* Indica que el primer div no debe crecer*/
  background-color: rgba(0, 0, 0, 0.5);
  /* z-index: 100; */
}

.navbar-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 64px;
}

.menu-items {
  order: 2;
  display: flex;
  margin-right: 20px;
}

.logo {
  order: 1;
}

.logo img {
  width: 175px;
}

.menu-items li {
  list-style: none;
  margin-left: 1.5rem;
  font-size: 1.15rem;
}

.navbar a {
  color: white;
  text-decoration: none;
  font-weight: 500;
  transition: color 0.3s ease-in-out;
}

.navbar a:hover {
  color: #05bfdb;
}

/* --------SECTION PRESENTATION--------- */

.welcome {
  flex-grow: 1;
  display: flex;
  align-items: center;
  justify-content: center;
}

.welcome img {
  border-radius: 50%;
  margin-right: 50px;
  width: 17.5%;
  min-width: 250px;
}

.welcome .texts {
  text-align: center;
}

.texts p:nth-of-type(odd) {
  color: white;
  font-size: 2rem;
}

.texts p:nth-of-type(even) {
  color: #209cee;
  font-size: 3rem;
  font-weight: 750;
}

/* ------SECTION SOBRE MI/HABILIDADES--------- */

.about-services {
  display: flex;
  margin: 0 5%;
  flex-direction: column;
  height: 900px;
}

.about-services h3 {
  padding: 20px 20px 20px 0px;
  font-weight: 700;
  font-size: 1.5em;
}

.about-services .title {
  font-size: 2em;
}
.container-about-skills {
  display: flex;
  align-items: center;
  justify-content: space-evenly;
}

.container-about-skills .sobre-me,
.container-about-skills .skills {
  width: 40%;
}

.sobre-me {
  height: 100%;
}

.sobre-me .info {
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin-top: 20px;
}

.sobre-me .info p {
  margin-bottom: 10px;
  text-align: justify;
  line-height: 25px;
}

.sobre-me .info p:first-child {
  font-weight: 600;
  font-size: 1.5em;
}

.info .descargar-cv {
  width: 125px;
  padding: 5px;
  cursor: pointer;
  color: white;
  background-color: #33b2ff;
  border-radius: 2px;
  border: 1px solid #207cee;
  font-size: 0.85em;
  display: flex;
  align-items: center;
  justify-content: space-around;
  transition: 0.5s all;
}

.info .descargar-cv:hover {
  background-color: #0780ca;
}
.skills .container-skills {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: repeat(3, 1fr);
  gap: 10px;
}

.container-skills .elemento {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 20px;
}

.skills .container-skills img {
  margin-bottom: 5px;
  width: 45px;
}

.skills .container-skills p {
  font-size: 16px;
  font-weight: 400;
  text-align: center;
}
